<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         verbose="true"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1"/>
    </php>

    <testsuites>
        <testsuite name="Logger">
            <directory suffix="Test.php">tests/unit/src/Logger</directory>
        </testsuite>
        <testsuite name="Metrics">
            <directory suffix="Test.php">tests/unit/src/Metrics</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
